@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9785 0.0116 91.6397);
  --foreground: oklch(0.2154 0.0166 144.8195);
  --card: oklch(0.9567 0.0219 91.0248);
  --card-foreground: oklch(0.2154 0.0166 144.8195);
  --popover: oklch(0.9894 0.0084 91.6491);
  --popover-foreground: oklch(0.2154 0.0166 144.8195);
  --primary: oklch(0.3896 0.1082 155.1518);
  --primary-foreground: oklch(0.9785 0.0116 91.6397);
  --secondary: oklch(0.9238 0.0352 92.3794);
  --secondary-foreground: oklch(0.3921 0.0772 49.4149);
  --muted: oklch(0.9567 0.0219 91.0248);
  --muted-foreground: oklch(0.4774 0.0319 118.8745);
  --accent: oklch(0.7068 0.1465 74.7194);
  --accent-foreground: oklch(0.2154 0.0166 144.8195);
  --destructive: oklch(0.5622 0.1717 24.6145);
  --destructive-foreground: oklch(0.9785 0.0116 91.6397);
  --border: oklch(0.8977 0.0287 92.2186);
  --input: oklch(0.9227 0.0242 92.0088);
  --ring: oklch(0.5379 0.1437 160.8014);
  --chart-1: oklch(0.3896 0.1082 155.1518);
  --chart-2: oklch(0.7068 0.1465 74.7194);
  --chart-3: oklch(0.6186 0.1273 63.4185);
  --chart-4: oklch(0.4884 0.0913 49.287);
  --chart-5: oklch(0.4679 0.0903 129.4615);
  --sidebar: oklch(0.9644 0.0207 91.9429);
  --sidebar-foreground: oklch(0.2154 0.0166 144.8195);
  --sidebar-primary: oklch(0.3896 0.1082 155.1518);
  --sidebar-primary-foreground: oklch(0.9785 0.0116 91.6397);
  --sidebar-accent: oklch(0.9238 0.0352 92.3794);
  --sidebar-accent-foreground: oklch(0.3921 0.0772 49.4149);
  --sidebar-border: oklch(0.8977 0.0287 92.2186);
  --sidebar-ring: oklch(0.5379 0.1437 160.8014);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.12;
  --shadow-color: oklch(0.3896 0.1082 155.1518);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.06);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.12), 0 2px 4px -1px hsl(0 0% 0% / 0.12);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.14), 0 4px 6px -1px hsl(0 0% 0% / 0.14);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.16), 0 8px 10px -1px hsl(0 0% 0% / 0.16);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.2);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.0854 0.0164 144.7976);
  --foreground: oklch(0.9567 0.0219 91.0248);
  --card: oklch(0.1441 0.0214 148.069);
  --card-foreground: oklch(0.9567 0.0219 91.0248);
  --popover: oklch(0.1681 0.0226 148.1633);
  --popover-foreground: oklch(0.9567 0.0219 91.0248);
  --primary: oklch(0.7132 0.1497 162.6938);
  --primary-foreground: oklch(0.1186 0.0264 148.013);
  --secondary: oklch(0.2098 0.022 148.1239);
  --secondary-foreground: oklch(0.9567 0.0219 91.0248);
  --muted: oklch(0.159 0.019 145.9774);
  --muted-foreground: oklch(0.6996 0.0163 90.7046);
  --accent: oklch(0.8019 0.154 84.198);
  --accent-foreground: oklch(0.2154 0.0166 144.8195);
  --destructive: oklch(0.7033 0.1702 25.9328);
  --destructive-foreground: oklch(0.2154 0.0166 144.8195);
  --border: oklch(0.2375 0.0232 148.7144);
  --input: oklch(0.2162 0.022 148.7656);
  --ring: oklch(0.7132 0.1497 162.6938);
  --chart-1: oklch(0.7132 0.1497 162.6938);
  --chart-2: oklch(0.8019 0.154 84.198);
  --chart-3: oklch(0.7002 0.142 69.3651);
  --chart-4: oklch(0.5583 0.1114 60.744);
  --chart-5: oklch(0.4679 0.0903 129.4615);
  --sidebar: oklch(0.096 0.0172 145.7568);
  --sidebar-foreground: oklch(0.9567 0.0219 91.0248);
  --sidebar-primary: oklch(0.7132 0.1497 162.6938);
  --sidebar-primary-foreground: oklch(0.1186 0.0264 148.013);
  --sidebar-accent: oklch(0.2098 0.022 148.1239);
  --sidebar-accent-foreground: oklch(0.9567 0.0219 91.0248);
  --sidebar-border: oklch(0.2375 0.0232 148.7144);
  --sidebar-ring: oklch(0.7132 0.1497 162.6938);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.2;
  --shadow-color: oklch(0.7132 0.1497 162.6938);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.08);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.1);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.14), 0 1px 2px -1px hsl(0 0% 0% / 0.14);
  --shadow:
    0 1px 3px 0px hsl(0 0% 0% / 0.14), 0 1px 2px -1px hsl(0 0% 0% / 0.14);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.16), 0 2px 4px -1px hsl(0 0% 0% / 0.16);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.18), 0 4px 6px -1px hsl(0 0% 0% / 0.18);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.2), 0 8px 10px -1px hsl(0 0% 0% / 0.2);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.24);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-inter), Inter, sans-serif;
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-serif);
  --font-cal: var(--font-cal-sans), "Cal Sans", var(--font-sans), sans-serif;
  --font-runde: var(--font-open-runde), sans-serif;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }
}

@layer utilities {
  .font-cal {
    font-family: var(--font-cal);
  }

  .font-runde {
    font-family: var(--font-runde);
  }
}

html {
  scrollbar-width: thin;
  scrollbar-color: gray transparent;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@utility border-apple {
  box-shadow:
    inset 0 0 0 1px rgb(255 255 255 / 0.07),
    inset 0 1px 0 0 rgb(80 80 80 / 0.3),
    inset 0 -1px 0 0 rgb(0 0 0 / 0.3);
}

@layer base {
  * {
    border-color: var(--border);
  }
}

::selection {
  background-color: rgb(22 101 52 / 0.18);
  color: #f59e0b;
}

[vaul-drawer] {
  transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

[vaul-overlay] {
  transition: opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
